#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

/* App.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

/* nav.css */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(34, 235, 241);
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar-brand a {
  color: #ecd4d4;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}
